# Python virtual environment
inv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# VS Code workspace
*.code-workspace

# Logs or temp files
*.log
*.tmp
*.bak
*.swp

# Tools
bfg-1.14.0.jar
invisimark.bfg-report
An-invisible-watermarking-.git/
